---
title: Faq
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header.html" %}
	{{ mixins.breadcrumbs({
		list: ['Главная', 'Калькулятор вычетов']
	}) }}
	<div class="inner">
		<div class="wrap">
			<!-- begin sidebar -->
			<aside class="sidebar md-hide">
				<div class="sidebar__item" data-accordion-group>
					<!-- begin accordeon -->
					<div class="accordeon" data-accordion-item>
						<div class="accordeon__trigger" data-accordion-trigger>Имущественный вычет{{ mixins.icon('arr-right') }}</div>
						<div class="accordeon__container" data-accordion-container>
							<ul class="navlist">
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
							</ul>
						</div>
					</div>
					<!-- end accordeon -->
					<!-- begin accordeon -->
					<div class="accordeon" data-accordion-item data-accordion-open>
						<div class="accordeon__trigger" data-accordion-trigger>Вычет на лечение{{ mixins.icon('arr-right') }}</div>
						<div class="accordeon__container" data-accordion-container>
							<ul class="navlist">
								<li class="is-active"><a href="#">Лечение родственников</a></li>
								<li><a href="#">Дорогостоящее лечение</a></li>
								<li><a href="#">Покупка медицинских материалов</a></li>
								<li><a href="#">Список документов</a></li>
							</ul>
						</div>
					</div>
					<!-- end accordeon -->
					<!-- begin accordeon -->
					<div class="accordeon" data-accordion-item>
						<div class="accordeon__trigger" data-accordion-trigger>Вычет на обучение{{ mixins.icon('arr-right') }}</div>
						<div class="accordeon__container" data-accordion-container>
							<ul class="navlist">
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
							</ul>
						</div>
					</div>
					<!-- end accordeon -->
					<!-- begin accordeon -->
					<div class="accordeon" data-accordion-item>
						<div class="accordeon__trigger" data-accordion-trigger>Декларация при продаже автомобиля{{ mixins.icon('arr-right') }}</div>
						<div class="accordeon__container" data-accordion-container>
							<ul class="navlist">
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
							</ul>
						</div>
					</div>
					<!-- end accordeon -->
					<!-- begin accordeon -->
					<div class="accordeon" data-accordion-item>
						<div class="accordeon__trigger" data-accordion-trigger>Декларация при продаже недвижимости{{ mixins.icon('arr-right') }}</div>
						<div class="accordeon__container" data-accordion-container>
							<ul class="navlist">
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
							</ul>
						</div>
					</div>
					<!-- end accordeon -->
					<!-- begin accordeon -->
					<div class="accordeon" data-accordion-item>
						<div class="accordeon__trigger" data-accordion-trigger>Иные доходы{{ mixins.icon('arr-right') }}</div>
						<div class="accordeon__container" data-accordion-container>
							<ul class="navlist">
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
							</ul>
						</div>
					</div>
					<!-- end accordeon -->
				</div>
				<div class="sidebar__item">
					<div class="sidebar__item-wrap">
						<a href="#" class="linkitem">
							<span class="linkitem__icon">
								{{ mixins.icon('calculator') }}
							</span>
							<span class="linkitem__title">Калькулятор <br>налогового вычета</span>
						</a>
						<a href="#" class="linkitem">
							<span class="linkitem__icon">
								{{ mixins.icon('message') }}
							</span>
							<span class="linkitem__title">Ответы на вопросы, напишите нам здесь</span>
						</a>
						<ul class="sidebar__soc soc">
							<li><a href="#">{{ mixins.icon('vk') }}</a></li>
							<li><a href="#">{{ mixins.icon('instagram') }}</a></li>
							<li><a href="#">{{ mixins.icon('facebook') }}</a></li>
						</ul>
					</div>
				</div>
				<div class="sidebar__item">
					<div class="advantages">
						<div class="advantages__title">Преимущества</div>
						<div class="advantages__description">оформления декларации у нас</div>
						<ul class="advantages__list">
							<li class="advantages__item">
								<div class="advantages__icon"><img src="./img/aboutlisticon-1.png" alt="img"></div>
								<div class="advantages__title-sm">Оформление от 1 часа</div>
							</li>
							<li class="advantages__item">
								<div class="advantages__icon"><img src="./img/aboutlisticon-2.png" alt="img"></div>
								<div class="advantages__title-sm">Минимум документов</div>
							</li>
							<li class="advantages__item">
								<div class="advantages__icon"><img src="./img/aboutlisticon-3.png" alt="img"></div>
								<div class="advantages__title-sm">Гарантия 100% сдачи</div>
							</li>
							<li class="advantages__item">
								<div class="advantages__icon"><img src="./img/aboutlisticon-4.png" alt="img"></div>
								<div class="advantages__title-sm">Работаем с 2013 года</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="sidebar__item">
					<form action="#" class="form form_bord-none form_full">
						<div class="form__title">Заказать оформление декларации 3-НДФЛ</div>
						<div class="form__wrap">
							<div class="form-group">
								<div class="form-field">
									<label class="checkbox">
										<input type="checkbox" checked>
										<span class="checkbox__text">Имущественный вычет</span>
									</label>
								</div>
								<div class="form-field">
									<label class="checkbox">
										<input type="checkbox">
										<span class="checkbox__text">Продажа авто / недвижимости</span>
									</label>
								</div>
								<div class="form-field">
									<label class="checkbox">
										<input type="checkbox">
										<span class="checkbox__text">Вычет на лечение</span>
									</label>
								</div>
								<div class="form-field">
									<label class="checkbox">
										<input type="checkbox" checked>
										<span class="checkbox__text">Вычет на обучение</span>
									</label>
								</div>
								<div class="form-field">
									<label class="checkbox">
										<input type="checkbox" checked>
										<span class="checkbox__text">Декларирование иных доходов</span>
									</label>
								</div>
							</div>
							<div class="form-group">
								<div class="input"><input type="text" placeholder="* Ваш email"></div>
							</div>
							<div class="form-group">
								<button class="btn btn_red btn_red-shad btn_full" type="submit">Отправить заявку</button>
							</div>
						</div>
					</form>
				</div>
			</aside>
			<!-- end sidebar -->
			<!-- begin main -->
			<main class="main">
				<div class="main__wrap">
					<article class="article">
						<h2>Вопрос-ответ</h2>
						<p>Здесь собраны ответы на вопросы наших клиентов, касающиеся возможности получения вычета, заполнения декларации 3-НДФЛ. Зачастую вопросы похожи, просмотрите данные разделы, быть может, ответ на Ваш вопрос уже есть.</p>
						<p>Если Вы не нашли ответ на свой вопрос по налоговым вычетам, напишите нам. Наши специалисты ответят в течение 1 дня.</p>
					</article>
					<div class="accordeonfaq-wrap" data-accordion-group>
						<!-- begin accordeon -->
						<div class="accordeonfaq" data-accordion-item data-accordion-open>
							<div class="accordeonfaq__trigger" data-accordion-trigger>Имущественный вычет{{ mixins.icon('arr-right') }}</div>
							<div class="accordeonfaq__container" data-accordion-container>
								<div class="accordeonfaq__item">
									<p>Подскажите с чего начать: ипотеку взяли на приобретение строящегося жилья с 7 мая 2015 года, платим по сей день. Квартира еще строится, документов о собственности еще нет. Есть только договор ДДУ. Работаю официально в Москве, более трех лет. Квартира (строящаяся) в подмосковье. Прописка Ростовская область. В Москве проживаем у тетушки. Могу ли я подать документы на получение налогового вычета здесь (Москва) или же ехать в Ростовскую область. И с периода 07.05.2015 по 2017годы?</p>
									<p><a class="accordeonfaq__answer-btn" href="#">Прочитать ответ</a></p>
								</div>
								<div class="accordeonfaq__item">
									<p>Здравствуйте. Могу ли я получить 13% за проценты, уплаченные банку при покупке дома в ипотеку. Сделка зарегистрирована в 2012 году. С 2009 года я уже получаю налоговый вычет за квартиру стоимостью 900 т.р.</p>
									<p><a class="accordeonfaq__answer-btn" href="#">Прочитать ответ</a></p>
								</div>
								<div class="accordeonfaq__footer">
									<a href="#" class="btn btn_md btn_bord btn_bord-green">Еще вопросы</a>
								</div>
							</div>
						</div>
						<!-- end accordeon -->
						<!-- begin accordeon -->
						<div class="accordeonfaq" data-accordion-item>
							<div class="accordeonfaq__trigger" data-accordion-trigger>Вычет на обучение{{ mixins.icon('arr-right') }}</div>
							<div class="accordeonfaq__container" data-accordion-container>
								<div class="accordeonfaq__item">
									<p>Подскажите с чего начать: ипотеку взяли на приобретение строящегося жилья с 7 мая 2015 года, платим по сей день. Квартира еще строится, документов о собственности еще нет. Есть только договор ДДУ. Работаю официально в Москве, более трех лет. Квартира (строящаяся) в подмосковье. Прописка Ростовская область. В Москве проживаем у тетушки. Могу ли я подать документы на получение налогового вычета здесь (Москва) или же ехать в Ростовскую область. И с периода 07.05.2015 по 2017годы?</p>
									<p><a class="accordeonfaq__answer-btn" href="#">Прочитать ответ</a></p>
								</div>
								<div class="accordeonfaq__item">
									<p>Здравствуйте. Могу ли я получить 13% за проценты, уплаченные банку при покупке дома в ипотеку. Сделка зарегистрирована в 2012 году. С 2009 года я уже получаю налоговый вычет за квартиру стоимостью 900 т.р.</p>
									<p><a class="accordeonfaq__answer-btn" href="#">Прочитать ответ</a></p>
								</div>
								<div class="accordeonfaq__footer">
									<a href="#" class="btn btn_bord btn_bord-green">Еще вопросы</a>
								</div>
							</div>
						</div>
						<!-- end accordeon -->
						<!-- begin accordeon -->
						<div class="accordeonfaq" data-accordion-item>
							<div class="accordeonfaq__trigger" data-accordion-trigger>Вычет на лечение{{ mixins.icon('arr-right') }}</div>
							<div class="accordeonfaq__container" data-accordion-container>
								<div class="accordeonfaq__item">
									<p>Подскажите с чего начать: ипотеку взяли на приобретение строящегося жилья с 7 мая 2015 года, платим по сей день. Квартира еще строится, документов о собственности еще нет. Есть только договор ДДУ. Работаю официально в Москве, более трех лет. Квартира (строящаяся) в подмосковье. Прописка Ростовская область. В Москве проживаем у тетушки. Могу ли я подать документы на получение налогового вычета здесь (Москва) или же ехать в Ростовскую область. И с периода 07.05.2015 по 2017годы?</p>
									<p><a class="accordeonfaq__answer-btn" href="#">Прочитать ответ</a></p>
								</div>
								<div class="accordeonfaq__item">
									<p>Здравствуйте. Могу ли я получить 13% за проценты, уплаченные банку при покупке дома в ипотеку. Сделка зарегистрирована в 2012 году. С 2009 года я уже получаю налоговый вычет за квартиру стоимостью 900 т.р.</p>
									<p><a class="accordeonfaq__answer-btn" href="#">Прочитать ответ</a></p>
								</div>
								<div class="accordeonfaq__footer">
									<a href="#" class="btn btn_bord btn_bord-green">Еще вопросы</a>
								</div>
							</div>
						</div>
						<!-- end accordeon -->
						<!-- begin accordeon -->
						<div class="accordeonfaq" data-accordion-item>
							<div class="accordeonfaq__trigger" data-accordion-trigger>Декларирование доходов{{ mixins.icon('arr-right') }}</div>
							<div class="accordeonfaq__container" data-accordion-container>
								<div class="accordeonfaq__item">
									<p>Подскажите с чего начать: ипотеку взяли на приобретение строящегося жилья с 7 мая 2015 года, платим по сей день. Квартира еще строится, документов о собственности еще нет. Есть только договор ДДУ. Работаю официально в Москве, более трех лет. Квартира (строящаяся) в подмосковье. Прописка Ростовская область. В Москве проживаем у тетушки. Могу ли я подать документы на получение налогового вычета здесь (Москва) или же ехать в Ростовскую область. И с периода 07.05.2015 по 2017годы?</p>
									<p><a class="accordeonfaq__answer-btn" href="#">Прочитать ответ</a></p>
								</div>
								<div class="accordeonfaq__item">
									<p>Здравствуйте. Могу ли я получить 13% за проценты, уплаченные банку при покупке дома в ипотеку. Сделка зарегистрирована в 2012 году. С 2009 года я уже получаю налоговый вычет за квартиру стоимостью 900 т.р.</p>
									<p><a class="accordeonfaq__answer-btn" href="#">Прочитать ответ</a></p>
								</div>
								<div class="accordeonfaq__footer">
									<a href="#" class="btn btn_bord btn_bord-green">Еще вопросы</a>
								</div>
							</div>
						</div>
						<!-- end accordeon -->
					</div>
					<div class="article">
						<h2>Задать вопрос</h2>
						<p>Вы можете задать свой вопрос специалисту по налоговым вычетам.</p>
						<form action="/" class="article__form faqform">
							<div class="textarea textarea_pad"><textarea placeholder="* Вопрос"></textarea></div>
							<div class="faqform__footer">
								<div class="faqform__col">
									<div class="input input_pad">
										<input type="text" placeholder="Имя">
									</div>
								</div>
								<div class="faqform__col">
									<div class="input input_pad">
										<input type="text" placeholder="* Ваш email">
									</div>
								</div>
								<div class="faqform__col">
									<button class="btn btn_md btn_full btn_green-shad btn_bord btn_bord-green" type="submit">Отправить вопрос</button>
								</div>
							</div>
						</form>
						<div class="advantages advantages_mob">
							<div class="advantages__title">Преимущества</div>
							<div class="advantages__description">оформления декларации у нас</div>
							<ul class="advantages__list">
								<li class="advantages__item">
									<div class="advantages__icon"><img src="./img/aboutlisticon-1.png" alt="img"></div>
									<div class="advantages__title-sm">Оформление от 1 часа</div>
								</li>
								<li class="advantages__item">
									<div class="advantages__icon"><img src="./img/aboutlisticon-2.png" alt="img"></div>
									<div class="advantages__title-sm">Минимум документов</div>
								</li>
								<li class="advantages__item">
									<div class="advantages__icon"><img src="./img/aboutlisticon-3.png" alt="img"></div>
									<div class="advantages__title-sm">Гарантия 100% сдачи</div>
								</li>
								<li class="advantages__item">
									<div class="advantages__icon"><img src="./img/aboutlisticon-4.png" alt="img"></div>
									<div class="advantages__title-sm">Работаем с 2013 года</div>
								</li>
							</ul>
						</div>
						<form action="#" class="form form_mob form_full">
							<div class="form__title">Заказать оформление <br>декларации 3-НДФЛ</div>
							<div class="form__wrap">
								<div class="form-group">
									<div class="form-field">
										<label class="checkbox">
											<input type="checkbox" checked>
											<span class="checkbox__text">Имущественный вычет</span>
										</label>
									</div>
									<div class="form-field">
										<label class="checkbox">
											<input type="checkbox">
											<span class="checkbox__text">Продажа авто / недвижимости</span>
										</label>
									</div>
									<div class="form-field">
										<label class="checkbox">
											<input type="checkbox">
											<span class="checkbox__text">Вычет на лечение</span>
										</label>
									</div>
									<div class="form-field">
										<label class="checkbox">
											<input type="checkbox" checked>
											<span class="checkbox__text">Вычет на обучение</span>
										</label>
									</div>
									<div class="form-field">
										<label class="checkbox">
											<input type="checkbox" checked>
											<span class="checkbox__text">Декларирование иных доходов</span>
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="input"><input type="text" placeholder="* Ваш email"></div>
								</div>
								<div class="form-group">
									<button class="btn btn_red btn_red-shad btn_full" type="submit">Отправить заявку</button>
								</div>
							</div>
						</form>
						<h3 class="title">Расскажите о нас друзьям</h3>
						<p>Мы стараемся сделать оформление вычетов максимально простым и удобным. Расскажите о нас друзьям.</p>
						<div class="article__share">
							<a href="#" class="btn btn_md btn_green-shad btn_bord btn_bord-green">Отправить вопрос</a>
							<div class="article__share-soc">
								<img src="./img/share-soc.png" alt="img">
							</div>
						</div>
					</div>
				</div>
			</main>
			<!-- end main -->
		</div>
	</div>
	{% include "partials/_footer.html" %}

{% endblock %}
