---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header.html" %}
	{{ mixins.breadcrumbs({
		list: ['Главная', 'Калькулятор вычетов']
	}) }}
	<div class="inner">
		<div class="wrap">
			<!-- begin sidebar -->
			<aside class="sidebar md-hide">
				<div class="sidebar__item" data-accordion-group>
					<!-- begin accordeon -->
					<div class="accordeon" data-accordion-item>
						<div class="accordeon__trigger" data-accordion-trigger>Имущественный вычет{{ mixins.icon('arr-right') }}</div>
						<div class="accordeon__container" data-accordion-container>
							<ul class="navlist">
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
							</ul>
						</div>
					</div>
					<!-- end accordeon -->
					<!-- begin accordeon -->
					<div class="accordeon" data-accordion-item data-accordion-open>
						<div class="accordeon__trigger" data-accordion-trigger>Вычет на лечение{{ mixins.icon('arr-right') }}</div>
						<div class="accordeon__container" data-accordion-container>
							<ul class="navlist">
								<li class="is-active"><a href="#">Лечение родственников</a></li>
								<li><a href="#">Дорогостоящее лечение</a></li>
								<li><a href="#">Покупка медицинских материалов</a></li>
								<li><a href="#">Список документов</a></li>
							</ul>
						</div>
					</div>
					<!-- end accordeon -->
					<!-- begin accordeon -->
					<div class="accordeon" data-accordion-item>
						<div class="accordeon__trigger" data-accordion-trigger>Вычет на обучение{{ mixins.icon('arr-right') }}</div>
						<div class="accordeon__container" data-accordion-container>
							<ul class="navlist">
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
							</ul>
						</div>
					</div>
					<!-- end accordeon -->
					<!-- begin accordeon -->
					<div class="accordeon" data-accordion-item>
						<div class="accordeon__trigger" data-accordion-trigger>Декларация при продаже автомобиля{{ mixins.icon('arr-right') }}</div>
						<div class="accordeon__container" data-accordion-container>
							<ul class="navlist">
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
							</ul>
						</div>
					</div>
					<!-- end accordeon -->
					<!-- begin accordeon -->
					<div class="accordeon" data-accordion-item>
						<div class="accordeon__trigger" data-accordion-trigger>Декларация при продаже недвижимости{{ mixins.icon('arr-right') }}</div>
						<div class="accordeon__container" data-accordion-container>
							<ul class="navlist">
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
							</ul>
						</div>
					</div>
					<!-- end accordeon -->
					<!-- begin accordeon -->
					<div class="accordeon" data-accordion-item>
						<div class="accordeon__trigger" data-accordion-trigger>Иные доходы{{ mixins.icon('arr-right') }}</div>
						<div class="accordeon__container" data-accordion-container>
							<ul class="navlist">
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
							</ul>
						</div>
					</div>
					<!-- end accordeon -->
				</div>
				<div class="sidebar__item">
					<div class="sidebar__item-wrap">
						<a href="#" class="linkitem">
							<span class="linkitem__icon">
								{{ mixins.icon('calculator') }}
							</span>
							<span class="linkitem__title">Калькулятор <br>налогового вычета</span>
						</a>
						<a href="#" class="linkitem">
							<span class="linkitem__icon">
								{{ mixins.icon('message') }}
							</span>
							<span class="linkitem__title">Ответы на вопросы, напишите нам здесь</span>
						</a>
						<ul class="sidebar__soc soc">
							<li><a href="#">{{ mixins.icon('vk') }}</a></li>
							<li><a href="#">{{ mixins.icon('instagram') }}</a></li>
							<li><a href="#">{{ mixins.icon('facebook') }}</a></li>
						</ul>
					</div>
				</div>
			</aside>
			<!-- end sidebar -->
			<!-- begin main -->
			<main class="main">
				<!-- begin mainbanner -->
				<div class="mainbanner" style="background-image: url(https://picsum.photos/800/410);">
					<div class="mainbanner__wrap">
						<div class="mainbanner__title-lg">Оформление</div>
						<div class="mainbanner__title">декларации 3-НДФЛ</div>
						<div class="mainbanner__footer">
							<a href="#" class="btn btn_shad">Заказать</a>
							<a href="#" class="btn btn_bord">Рассчитать</a>
						</div>
					</div>
				</div>
				<div class="main__wrap">
					<!-- end mainbanner -->
					<ul class="aboutlist">
						<li class="aboutlist__item">
							<div class="aboutlist__icon"><img src="./img/aboutlisticon-1.png" alt="img"></div>
							<div class="aboutlist__title">Оформление от 1 часа</div>
						</li>
						<li class="aboutlist__item">
							<div class="aboutlist__icon"><img src="./img/aboutlisticon-2.png" alt="img"></div>
							<div class="aboutlist__title">Минимум документов</div>
						</li>
						<li class="aboutlist__item">
							<div class="aboutlist__icon"><img src="./img/aboutlisticon-3.png" alt="img"></div>
							<div class="aboutlist__title">Гарантия 100% сдачи</div>
						</li>
						<li class="aboutlist__item">
							<div class="aboutlist__icon"><img src="./img/aboutlisticon-4.png" alt="img"></div>
							<div class="aboutlist__title">Работаем с 2013 года</div>
						</li>
					</ul>
					<article class="article">
						<h2>О нас</h2>
						<p>Наш сервис создан для облегчения получения налогового вычета. Специалисты по налогообложению проконсультируют и онлайн заполнят 3-НДФЛ.</p>
						<p><a href="#">3-НДФЛ</a> — это форма налоговой декларации по налогу на доходы физических лиц. Как следует из названия, в ней отражаются все доходы физического лица, полученные за год, а также налоговые вычеты. </p>
						<p>Наш сервис "ВсеВычеты.Ру" был создан с целью максимально облегчить процесс получения налогового вычета: появилась возможность заполнить 3-НДФЛ онлайн, но не самостоятельно, допуская ошибки, а воспользовавшись услугами специалистов в сфере налогообложения, не выходя из дома.</p>
					</article>
				</div>
			</main>
			<!-- end main -->
		</div>
	</div>
	<div class="section section_gray">
		<div class="section__inner inner">
			<div class="head">
				<h3 class="title">Как это работает</h3>
			</div>
			<div class="hawitworks">
				<div class="hawitworks__row row">
					<div class="hawitworks__col col col-6 col-sm-12">
						<div class="hawitworks__item">
							<div class="hawitworks__head">
								<div class="hawitworks__img">
									<img src="./img/hawitworks-1.png" alt="img">
								</div>
							</div>
							<div class="hawitworks__title">Оформляете заказ на сайте</div>
							<p>Получаете список документов на email. Высылаете фото или скан документов по списку.</p>
						</div>
					</div>
					<div class="hawitworks__col col col-6 col-sm-12">
						<div class="hawitworks__item">
							<div class="hawitworks__head">
								<div class="hawitworks__img">
									<img src="./img/hawitworks-2.png" alt="img">
								</div>
							</div>
							<div class="hawitworks__title">Заполнение декларации 3-НДФЛ специалистом</div>
							<p>После проверки документов, мы запрашивает согласие на оформление. Вы получаете отчет с первыми страницами заполненой декларации и способы оплаты услуг.</p>
						</div>
					</div>
					<div class="hawitworks__col col col-6 col-sm-12">
						<div class="hawitworks__item">
							<div class="hawitworks__head">
								<div class="hawitworks__img">
									<img src="./img/hawitworks-3.png" alt="img">
								</div>
							</div>
							<div class="hawitworks__title">Сдача декларации</div>
							<p>После оплаты получаете готовую декларацию и сдаете документы в налоговую инспекцию лично или онлайн.</p>
						</div>
					</div>
					<div class="hawitworks__col col col-6 col-sm-12">
						<div class="hawitworks__item">
							<div class="hawitworks__head">
								<div class="hawitworks__img">
									<img src="./img/hawitworks-4.png" alt="img">
								</div>
							</div>
							<div class="hawitworks__title">Получаете деньги</div>
							<p>В течении 4 месяцев получаете перевод денег на Ваш счет в банке, указанный в заявлении.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section__img">
				<img src="./img/proc.png" alt="img">
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section__inner inner">
			<div class="article">
				<h2>Почему надо заказать у нас</h2>
				<p>От качества заполнения налоговой декларации 3-НДФЛ зависит на сколько быстро государство вернет Вам Ваши деньги. Заполнение 3-НДФЛ - достаточно сложный процесс. После сдачи декларации в налоговую инспекцию, проводится камеральная проверка в срок - до 3-х месяцев. При положительном решении в течение 1 месяца Вам переводят денежные средства на указанный, в заявлении, счет в банке.</p>
				<p>Если в ходе проверки декларации налоговой инспекцией будут выявлены ошибки или несоответствие указанных сведений приложенным документам, то сроки получения вычета сдвигаются. Необходимо сдать корректную декларацию, после подаче которой начинается новая проверка. Иными словами необходимо новое ожидание в течение 4-х месяцев.</p>
			</div>
		</div>
	</div>
	<div class="order">
		<div class="order__out">
			<div class="order__inner inner">
				<div class="order__wrap">
					<div class="order__form">
						<form action="#" class="form">
							<div class="form__title">Заказать оформление <br>декларации 3-НДФЛ</div>
							<div class="form__wrap">
								<div class="form-group">
									<div class="form-field">
										<label class="checkbox">
											<input type="checkbox" checked>
											<span class="checkbox__text">Имущественный вычет</span>
										</label>
									</div>
									<div class="form-field">
										<label class="checkbox">
											<input type="checkbox">
											<span class="checkbox__text">Продажа авто / недвижимости</span>
										</label>
									</div>
									<div class="form-field">
										<label class="checkbox">
											<input type="checkbox">
											<span class="checkbox__text">Вычет на лечение</span>
										</label>
									</div>
									<div class="form-field">
										<label class="checkbox">
											<input type="checkbox" checked>
											<span class="checkbox__text">Вычет на обучение</span>
										</label>
									</div>
									<div class="form-field">
										<label class="checkbox">
											<input type="checkbox" checked>
											<span class="checkbox__text">Декларирование иных доходов</span>
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="input"><input type="text" placeholder="* Ваш email"></div>
								</div>
								<div class="form-group">
									<button class="btn btn_red btn_red-shad btn_full" type="submit">Отправить заявку</button>
								</div>
							</div>
						</form>
					</div>
					<div class="order__content">
						<h3 class="order__title">От качества заполнения налоговой декларации 3-НДФЛ зависит на сколько быстро государство вернет Вам Ваши деньги. </h3>
						<div class="order__lenght">*До 4-x месяцев</div>
						<div class="order__description">срок поступления денег на счет</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section__inner inner">
			<div class="article">
				<h2>Политика конфиденциальности</h2>
				<p>Все персональные данные хранятся зашифрованными и удаляются через 1 месяц после оформления декларации 3-НДФЛ. <br>По Вашему желанию, сохраняем данные для оформления на следующий год.</p>
			</div>
		</div>
	</div>
	{% include "partials/_footer.html" %}

{% endblock %}
