<!-- begin footer -->
<footer class="footer" data-accordion-group>
	<div class="footer__inner inner">
		<div class="footer__wrap" data-accordion-item data-accordion-open>
			<div class="footer__contacts">
				<a href="/" class="footer__logo">
					<img src="./img/logo-footer.png" alt="logo">
				</a>
				<div class="footer__item">
					<p>заполняем декларацию  3-НДФЛ</p>
					<p>8:00 - 21:00  без выходных</p>
					<p>бесплатная консультация</p>
				</div>
				<div class="footer__item">
					<a href="tel:8 (916) 747-17-30" class="footer__phone">8 (916) 747-17-30</a>
				</div>
				<button class="footer__trigger md-show" data-accordion-trigger type="button">{{ mixins.icon('arr-right') }}</button>
				<div class="footer__item md-hide">
					<ul class="soc">
						<li><a href="#">{{ mixins.icon('vk') }}</a></li>
						<li><a href="#">{{ mixins.icon('instagram') }}</a></li>
						<li><a href="#">{{ mixins.icon('facebook') }}</a></li>
					</ul>
				</div>
				<div class="footer__item md-hide">
					<div class="copy">&copy; 2013 – 2019</div>
				</div>
			</div>
			<div class="md-show">
				<div class="footer__nav" data-accordion-container>
					<div class="nav">
						<ul class="nav__list">
							<li class="nav__item"><a href="#">Налоговые вычеты</a></li>
							<li class="nav__item"><a href="#">Услуги</a></li>
							<li class="nav__item"><a href="#">Отзывы</a></li>
							<li class="nav__item"><a href="#">Документы</a></li>
							<li class="nav__item"><a href="#">Контакты</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copy md-show">&copy; 2013 – 2019</div>
			<div class="footer__deductions md-hide">
				<div class="footer__title">Налоговые вычеты</div>
				<ul class="footer__list">
					<li><a href="#">Имущественный вычет</a></li>
					<li><a href="#">Вычет на лечение</a></li>
					<li><a href="#">Вычет на обучение</a></li>
					<li><a href="#">Декларация при продаже автомобиля</a></li>
					<li><a href="#">Декларация при продаже недвижимости</a></li>
					<li><a href="#">Декларирование иных доходов</a></li>
				</ul>
			</div>
			<div class="footer__client md-hide">
				<div class="footer__title">Клиентам</div>
				<ul class="footer__list">
					<li><a href="#">Услуги</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Документы</a></li>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Ответы на вопросы</a></li>
					<li><a href="#">Калькулятор вычетов</a></li>
				</ul>
			</div>
			<div class="footer__extra md-hide">
				<div class="footer__title">Дополнительно</div>
				<ul class="footer__list">
					<li><a href="#">Пользовательское соглашение</a></li>
					<li><a href="#">Что такое декларация 3-НДФЛ?</a></li>
					<li><a href="#">Задать вопрос</a></li>
					<li><a href="#">Карта сайта</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->
<div class="modal" data-modal="ordermodal">
	<div class="modal__container" data-modal-container>
		<div class="modal__inner">
			<form action="#" class="form">
				<div class="form__title">Заказать оформление декларации 3-НДФЛ</div>
				<div class="form__wrap">
					<div class="form-group">
						<div class="form-field">
							<label class="checkbox">
								<input type="checkbox" checked>
								<span class="checkbox__text">Имущественный вычет</span>
							</label>
						</div>
						<div class="form-field">
							<label class="checkbox">
								<input type="checkbox">
								<span class="checkbox__text">Продажа авто / недвижимости</span>
							</label>
						</div>
						<div class="form-field">
							<label class="checkbox">
								<input type="checkbox">
								<span class="checkbox__text">Вычет на лечение</span>
							</label>
						</div>
						<div class="form-field">
							<label class="checkbox">
								<input type="checkbox" checked>
								<span class="checkbox__text">Вычет на обучение</span>
							</label>
						</div>
						<div class="form-field">
							<label class="checkbox">
								<input type="checkbox" checked>
								<span class="checkbox__text">Декларирование иных доходов</span>
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="input"><input type="text" placeholder="* Ваш email"></div>
					</div>
					<div class="form-group">
						<button class="btn btn_red btn_red-shad btn_full" type="submit">Отправить заявку</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>