{% macro icon(i, class) %}
<svg class="icon icon-{{i}} {{ class }}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
<div class="breadcrumbs-wrap">
	<div class="breadcrumbs-inner inner">
		<!-- begin breadcrumbs -->
		<ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
			{% for item in props.list %}
				{% if loop.last %}
				<li class="breadcrumbs__item">
					<span>{{ item }}</span>
				</li>
				{% else %}
				<li class="breadcrumbs__item">
					<a href="#">{{ item }}</a>
					{{ icon('arr-right') }}
				</li>
				{% endif %}
			{% endfor %}
		</ul>
		<!-- end breadcrumbs -->	
	</div>
</div>
{% endmacro %}

{% macro checkbox(props) %}
<!-- begin input -->
<label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
	<input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}"{% if props.checked %} checked{% endif %}>
	<span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
</label>
<!-- end input -->
{% endmacro %}

{% macro info(props) %}
<span class="info js-info">
	{{ icon('info', 'js-info-trigger') }}
	<span class="info__drop">
		<button class="info__close js-info-close" type="button">{{ icon('close') }}</button>
		<p>Подсказка, информация.</p>
		<p>Многострочная.</p>
	</span>
</span>
{% endmacro %}