.icon-arr-right {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-calculator {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-info {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-message {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
